* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  --color: rgba(12, 49, 92, 0.685);
  background-image: url("world2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header h1 {
  font-size: 3.5rem;

  color: var(--color);
  margin-top: 5rem;
  text-align: center;
}
.searchInput {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin: 2rem;
  width: 25vw;
  font-size: 1rem;
}
.suggestions {
  list-style-type: none;
  background: rgba(96, 85, 121, 0.438);
  border: 5px solid var(--color);
  padding: 1rem;
  border-radius: 5px;
  color: white;
}
.container {
  display: none;
}
.container.active {
  width: 60vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(96, 85, 121, 0.438);
}

.country-details {
  display: flex;
  flex-direction: column;
}
#country-name {
  padding: 1.5rem;
  color: black;
  text-align: center;
}

.list-item {
  /* list-style-type: none; */
  text-align: left;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
#country-name {
  font-size: 2rem;
  padding: 2rem;
}
#flag-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}
#flag-link:hover {
  color: darkblue;
}
.highlight {
  background: lightskyblue;
}
